body {
  margin: 0 auto;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: medium;
  background-color: rgb(240, 228, 252);
}

.wrapper {
  width: 1160px;
  margin: 0 auto;
  align-items: center;
}

.block1 {
  margin: 0 auto;
  display: flex;
  justify-content: left;
}
.photo {
  padding: 0px;
  margin: 0 auto;
  align-items: center;
}
.block {
  padding: 0px;
  margin: 0 auto;
  margin-right: 5%;
  border: 2px solid rgb(104, 45, 156);
  border-radius: 5%;
  background-color: rgb(230, 210, 248);
}
.block:hover {
  z-index: 2;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}
h3 {
  margin-left: 10%;
}

footer {
  display: flex;
  align-items: center;
}

footer > p {
  margin-right: 15%;
}

h2,
h1 {
  color: rgb(104, 45, 156);
}

img {
  border-radius: 5%;
  padding: 0%;
}
div.photo {
  height: 350px;
}
